click==6.6
colorama==0.3.7
coverage==4.2
flake8==3.0.4
mccabe==0.5.2
nose==1.3.7
pipsi==0.9
pluggy==0.4.0
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.3
pytest-cov==2.4.0
python-termstyle==0.1.10
sniffer==0.3.5
tox==2.4.1
tox-pyenv==1.0.3
virtualenv==15.0.3
